* {
    background-color: white;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.container{
    width: auto;
    height: 100vh;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.CentreUnit {
    font-size: 32px;
    font-weight: bold;
    text-align: center; 
    margin: 40px;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}


.Photos {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Photos img {
    padding: 72px;
}

.ButtonBase {
    position: relative;
    left: 40%;;
    font-size: 36px;
    font-weight: bold;
    border: 3px black solid;
    padding: 20px 50px;
    border-radius: 10px;
    width: 200px;
    background-color: red;
}

.ButtonBase a {
    background-color: transparent;
    color: black;
}
